body{
	padding: 0; /* Gets rid of the automatic padding */
	margin: 0; /* on HTML documents */
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	font-size: 12px;
	}
	
#navigation {
	position: fixed;
	top: 0;
	width: 100%;
	color: #ffffff;
	height: 33px;
	padding-top: 15px;
	text-align: center; 
/* Adds shadow to the bottom of the bar */
	-webkit-box-shadow: 0px 0px 8px 0px #000000;
	-moz-box-shadow: 0px 0px 8px 0px #000000;
	box-shadow: 0px 0px 8px 0px #000000;
/* Adds the transparent background */
	background-color: rgba(1, 1, 1, 0.8);
	color: rgba(1, 1, 1, 0.8);
}

#navigation .menu{
    margin-left:auto;
    margin-right:auto;
    width:960px;
}

#navigation .visit{
	float:left; 
	margin-left:1cm;
}

#navigation  .search form table tbody tr{
	position: fixed;
	margin-top: -25px; 
	margin-left: 28cm;
	width: 12cm;
}

#navigation .visit a:hover {
	color: orange;
}

#navigation a {
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
	color: white;
	text-decoration: none;
}

#navigation a:hover {
	color: grey;
}

/*#topbar {
	position: fixed;
	top: 0;
	width: 100%;
	height: 85px;
	background-color: white;
}*/

#rightbar {
	position: fixed;
	top: 0;
	height: 100%;
	width: 9cm;
	background-color: white;
	/*border-left: solid #DCDCDC;
	border-width:1px;*/
	margin-left:75%;
}

#leftbar {
	position: fixed;
	top: 0;
	height: 100%;
	width: 8.5cm;
	background-color: white;
	border-right: solid #DCDCDC;
	border-width:1px;
}

#leftbar .banner {
	margin-top: 1.5cm;
	margin-left: 1cm;
}
#leftbar ul li {
	list-style-type:none;
	margin-left: 0.5cm;
	font-size: 13px;
}

#leftbar ul li.leftbar_title {
	color: #21B9FF;
	font-size: 17px;
}

#leftbar ul li a.related_posts {
	color: black;
	font-size: 14px;
}

#leftbar ul li a.related_posts:hover {
	color: grey;
	font-size: 14px;
}

#leftbar ul li a.areas {
	color: black;
	background: #3E9CC7;
	font-size: 14px;
	border-radius: 5px;
	padding:5px;
}

#leftbar ul li a.areas:hover {
	color: black;
	background: #FFC351;
	font-size: 14px;
	border-radius: 5px;
	padding:5px;
}

#post {
    width:960px; /*	makes sure post stays in place when browser resized */
	margin-top: 15px;
	margin-bottom: 15px;
}

#post .post_title {
	color: #21B9FF;
	font-size: 32px;
	margin-left: 10cm;
}

#post .picture {
/*	margin-top: 1cm; */
	margin-left: 10cm;
}

#post .content {
	font-size: 14px;
	margin-left: 10cm;
	margin-bottom: 1cm;
}

.fb-like-box {
	float:right;
	padding-right: 1.3cm;
	padding-top: 2cm;
}
